<style>
    .inline {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .search-input-container {
        display: flex;
        align-items: center;
        flex-grow: 1; /* Allow the container to grow and push the button to the right */
    }

    #searchArchive {
        width: 100px; /* Expand the input to fill available space */
        margin-left: 15px; /* Add some left padding */
        margin-right: 30px; /* Add some left padding */
    }

    .search-bar {
            
        align-items: center;
        position: relative;
    }

    .clear-button {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .search-bar:focus-within .clear-button {
        display: block; /* Show the clear button when the search bar is focused */
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    .search-bar .input-group-text {
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
    }
    table{
        margin-top: 15px;
       
    }
</style>


<div class="continer">
    <div class="alert alert-danger" role="alert"  id="deleteAlert" style="display: none;">
        Are you sure you want to delete the selected items?
        </br>
        <button type="button" class="btn btn-danger btn-sm " id="confirmDeleteButton">Confirm</button>
        <button type="button" class="btn btn-secondary btn-sm mr-2" id="cancelDeleteButton">Cancel</button>
    </div>
    <div class="inline">
        <div class="search-input-container">
            <div class="input-group search-bar">
                <input class="form-control rounded-pill py-2 pr-5 pl-4 bg-transparent" type="text" placeholder="Search" id="searchArchive">
                <div class="input-group-prepend clear-button">
                    <button type="button" class="clear-button" id='clear-button-archive'>
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="input-group-prepend">
                    <div class="input-group-text border-0 bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead id ='archiveTable'>
          <tr>
           <th scope="col" id="select_all">
                <button type="button" class="btn btn-outline-warning btn-sm" id="selectAllCheckbox" >Select All</button>
            </th> 
            <th scope="col">Record ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Filename</th>
          </tr>
        </thead>
        <tbody id ='archiveTable'>
            {% for record in records %}
                {% if record.image_record.image_filename%}<!--need to check-->
                    <tr>
                        <td><input type="checkbox" class="rowCheckbox" data-record-id="{{ record.record_id }}"></td>
                        <td>{{ record.record_id }}</td>
                        <td>{{ record.patient_name }}</td>
                        <td>{{ record.patient_id }}</td>
                        <td>{{ record.image_record.upload_date }}</td>
                        <td>{{ record.image_record.image_filename }}</td>
                    </tr>
                {%endif%}
            {% empty %}
                <tr>
                    <td colspan="9">No records available.</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
<span id='message'></span>
{% comment %} <button type="button" class="btn btn-outline-primary" id="downloadButton">Download Selected</button> {% endcomment %}
<button type="button" class="btn btn-outline-danger" id="deleteButton">Delete Selected</button>
<script>
    $(document).ready(function () {
        $("#selectAllCheckbox").click(function () {
            $(".rowCheckbox").prop("checked", !$(".rowCheckbox:first").prop("checked"));
        });
        document.getElementById("searchArchive").addEventListener("keyup", function() {
            var query = this.value.toLowerCase();
            var rows = document.querySelectorAll("#archiveTable tr");
            
            rows.forEach(function(row) {
                var text = row.textContent.toLowerCase();
                if (text.includes(query)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
        document.querySelector("#clear-button-archive").addEventListener("click", function() {
            document.getElementById("searchArchive").value = "";
            var rows = document.querySelectorAll("#archiveTable tr");
            rows.forEach(function(row) {
                row.style.display = "";
            });
            this.classList.remove('visible');
        });
    });


    $(document).ready(function () {
        $("#downloadButton").click(function () {
            var selectedIds = [];
            
            $(".rowCheckbox:checked").each(function () {
                selectedIds.push($(this).data("record-id"));
            });
            
            console.log(selectedIds);
            $.ajax({
                type: "POST", 
                url: "{% url 'download_images' %}", 
                data: JSON.stringify(selectedIds),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken") 
                },
                success: function(data) {
                    /*var blob = new Blob([data]);
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "downloaded_files.zip";
                    link.click();*/
                    console.log(data);
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    console.log(xhr.responseText);
                }
            });
        });
    });
  

    $(document).ready(function () {
        $("#deleteButton").click(function () {
            $("#deleteAlert").show();
        });
        $("#confirmDeleteButton").click(function () {
            var selectedIds = [];
    
            $(".rowCheckbox:checked").each(function () {
                selectedIds.push($(this).data("record-id"));
            });
    
            console.log(selectedIds);
            $.ajax({
                type: "POST",
                url: "{% url 'delete_images' %}",
                data: JSON.stringify(selectedIds),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                success: function (data) {
                    $("#message").html(data);
                    setTimeout(function () {
                        $("#message").fadeOut("slow");
                    }, 5000);
                    if (data.includes("Successfully deleted")) {
                        location.reload();
                    }
                },
                error: function () {
                    
                    console.log("e");
                }
            });
            $("#deleteAlert").hide();
        });
            
        $("#cancelDeleteButton").click(function () {
            $("#deleteAlert").hide();
        });
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>
