{% extends 'logout.html' %}
{% block content%}

{%load static %}
<meta charset="UTF-8">

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<title>Patient Information . {{record.record_id}}</title>
<style>
    .container-full {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .section {
        flex-basis: calc(40% - 10px); /* Adjusted flex-basis */
        margin-bottom: 20px;
        background-color: #E3ECFA;
        padding: 20px;
        border-radius: 10px;
        height: 400px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .wide-section {
        flex-basis: calc(60% - 10px); 
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        padding: 20px; 
    }
    p{
        color: black;
    }
    .sectionOne{
        font-size: 20px;
    }
    strong{
        color: #6C757D !important;
    }
    .image-container {
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-top: 15px;
    }
    .image-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .image-header h2 {
        margin: 0;
    }
    
    .fa-solid.fa-folder-plus {
        float: right;
        font-size:30px;
    }

    .section3, .section4 {
        height: 100%;
    }
    .back-button,
    .update-save-button{
        display: inline-block;
        width: 30%; 
        padding: 10px;
        margin-bottom: 10px; 
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    #rerun-button, #updateStatus-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    .back-button {
        background-color: #6C757D;
    }
    .notes-container {
        border: 1px solid #000;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
    }
    .image-prediction-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .load-prediction {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    #imageContainer,
    .load-prediction {
        display: inline-block !important;
        font-size: 24px;
        font-weight: bold;
        font-color black;
    }
    .appointment-bar {
        background-color: #E3ECFA; 
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin: 0 auto; 
        max-width: 500px; 
        text-align: center; 
        margin-top: 50px;
    }
    
    .appointment-info {
        padding: 5px;
    }
    
    .appointment-title {
        font-size: 28px;
        text-decoration: underline;
        margin-bottom: 40px; 
    }
    #imageContainer{
        max-width:600px;
        max-height: auto;
    }
    
    @media (max-width: 768px) {
        
        .section {
            flex-basis: 100%; 
        }
    }
</style>

<div class="container-full">
    <div class="section sectionOne">
        <div class="grid-container">
            <p><strong>Record ID:</strong> </br>{{ record.record_id }}</p>
            <p><strong>Patient Name:</strong> </br>{{ record.patient_name }}</p>
            <p><strong>Patient ID:</strong> </br>{{ record.patient_id }}</p>
            <p><strong>Age:</strong> </br>{{ record.age }}</p>
            <p><strong>Date of Birth:</strong> </br>{{ record.date_of_birth }}</p>
            <p><strong>Modality:</strong> </br>{{ record.modality }}</p>
            <p><strong>Gender:</strong> </br>{{ record.gender }}</p>
            <p><strong>Sender Doctor:</strong> </br>{{ record.senderDoctor }}</p>
        </div>
    </div>
    <div class="section wide-section" >
        
         <h2>Upcoming Appointment</h2>
         <div class="appointment-bar">
            <h3 class="appointment-title">Request Time:</h3>
            <div class="appointment-info">
                <p style='font-size:18px;'><strong>{{ record.request_time }}</strong></p>
            </div>
            <h3 class="appointment-title">Indications:</h3>
            <div class="appointment-info" style='width: 110%; text-align:center'>
                <p style='font-size:18px;'><strong>{{ record.indications }}</strong></p>
            </div>
        </div>
    </div>
    <div class="section wide-section section3" >
       
        
        <div class="image-header">
            <h2>Images</h2>
            {% if 'medicalTech' in path %}
                <label for="fileInput" class="fa-solid fa-folder-plus">
                    <input type="file" id="fileInput" style="display: none;" accept=".dcm">
                </label>
            {% endif %}
        </div>
        <div class="image-container">
            <div id="imageName">
                {% if 'medicalTech' in path %}
                    <i class="fa-regular fa-file-image"></i>
                {% endif %}
                {% if imageFilename_available %}
                    <span style='margin-left: 10px;'>{{ image_record.image_filename }}</span>
                {% else %}
                    <span style='margin-left: 10px;'>No file selected</span>
                {% endif %}
            </div>
            <div>
                {% if 'medicalTech' in path %}
                    <i class="fa-solid fa-trash-can" style="margin-right: 10px;" onclick="resetContent()"></i>
                {% endif %}
            </div>
        </div>
        <div class="image-prediction-container">
            <span id="loadingMessage" style="display: none;">Loading DICOM Image...</span>
            {% if image_available %}
                <img id="imageContainer" src="data:image/png;base64,{{image_record.image_data}}"></img>
            {% else %}
                <img id="imageContainer"></img>
            {% endif %}
            <div class='load-prediction'>
                {% if image_available %}
                    
                    {% if 'medicalTech' in path %}
                        <span id="prediction">{{image_record.prediction}}</span>
                        <br>
                    
                    {% endif %}

                {% else %}
                    {% if predictions_available %}
                        <span id="prediction">{{image_record.prediction}}</span>
                        
                    {% else %}
                        <span id="prediction" style="display: none;"></span>
                    {% endif %}
                {% endif %}

               
            </div>
            
        </div>  
        {% if image_available %}
            <span id='timestamp'>TIMESTAMP: {{ image_record.upload_date }}</span>
            
            <span id='user'>TAKEN BY: {{ image_record.medTech }}</span>
            
        {% else %}
            <span id='timestamp'style='display: none;'></span>
            <span id='user'style='display: none;'>TAKEN BY: {{ user }}</span>
        {% endif %}      
    </div>
    <div class="section section4">
        
        {% if 'medicalTech' in path %}
            <h2>Notes</h2>
            <div class="notes-container" style="border: 1px solid #000; padding: 10px; border-radius: 10px; background-color: white;">
                {% if image_available %}
                    
                    <textarea id="notesInput" placeholder="Enter notes..." style="display: block; width: 100%; resize: vertical;" {% if 'medicalTech' not in path %} onclick="addSaveButton()" {% endif %}> {{ image_record.notes }}</textarea>
                {% else %}
                    <textarea id="notesInput" placeholder="Enter notes..." style="display: block; width: 100%; resize: vertical;"></textarea>
                {% endif %}
                
            </div>
            
        {% else %}
            {% include "update_status.html" %}
        {% endif %}
        
    </div>
    {% if 'radiologistDoctor' in path %}
    <div class="section section5" style='height: 200px;'>
        
        
        <h2>Notes</h2>
        <div class="notes-container" style="border: 1px solid #000; padding: 10px; border-radius: 10px; background-color: white;">
            <textarea id="notesInput" placeholder="Enter notes..." style="display: block; width: 100%; resize: vertical;" disabled > {{ image_record.notes }}</textarea>
            
        </div>
    </div>
    {% endif %}
    
</div>
<div class="alert alert-danger" role="alert"  id="errorAlert" style="display: none;">
    <span id ='errorMessage'></span>
</div>
<div>
    <button data-href="{% if 'medicalTech' in path %}{% url 'medical_tech_home' %}{% else %}{% url 'radiologistDoctorHome' %}{% endif %}" id= 'backButton'class="back-button">Back</button>
    {% if image_available %}
        {% if 'medicalTech' in path %}
            <button class="update-save-button" id='updateButton'>Update</button>
        {% endif %}
    {% else %}
        {% if 'medicalTech' in path %}
            <button class="update-save-button" id='saveButton'>Save</button>
        {% endif %}
    {% endif %}
    <span id='saveButtonPlaceholder'></span>
</div>


<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

<script>
   
    function formatDateTime(date) {
        var parsedTimestamp = new Date(date);
        var year = parsedTimestamp.getFullYear();
        var month = (parsedTimestamp.getMonth() + 1).toString().padStart(2, '0');
        var day = parsedTimestamp.getDate().toString().padStart(2, '0');
        var hours = parsedTimestamp.getHours().toString().padStart(2, '0');
        var minutes = parsedTimestamp.getMinutes().toString().padStart(2, '0');
        var seconds = parsedTimestamp.getSeconds().toString().padStart(2, '0');
        var formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        return formattedTimestamp
    }
    var prediction = document.getElementById("prediction").textContent;
    var circleColor = prediction == 'Negative' ? "red" : "#28c842";
    var circleIcon = '<i class="fa-solid fa-circle" style="color: ' + circleColor + ';"></i>';
    $("#prediction").html(circleIcon + ' ' + prediction);
    console.log(prediction);

    $(document).ready(function () {
            
        const fileInput = document.getElementById('fileInput');
        const imageName = document.getElementById('imageName');
        const imageContainer = document.getElementById('imageContainer');
        const timestampSpan = document.getElementById('timestamp');
        const userSpan = document.getElementById('user');
        
        var timestamp ;
    
        fileInput.addEventListener('change',  (event) => {
            const selectedFile = event.target.files[0];
            var prediction = document.getElementById("prediction");
            var rerunButton = document.getElementById("rerun-button");
            if (selectedFile) {
                imageName.innerHTML = `<i class="fa-regular fa-file-image"></i><span style='margin-left: 10px;'>${selectedFile.name}</span>`;
                $("#loadingMessage").show();
                $('#timestamp').hide();
                imageContainer.src = '';
                prediction.innerHTML = '';
                timestampSpan.innerHTML = '';
                

                

                console.log('Selected file:', selectedFile.name);
                console.log('File size:', selectedFile.size, 'bytes');
                console.log('File type:', selectedFile.type);

               
                var formData = new FormData();
                formData.append("dicom_file", selectedFile);

               $.ajax({
                    url: "{% url 'viewImage' record.record_id%}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")  
                    },
                    success: function (response) {
                        
                        try {
                            console.log(response); 
                            
                            imageContainer.src = "data:image/png;base64," + response.image_data;
                            $("#loadingMessage").hide();
                            var currentTimestamp = new Date();
                            var formattedDateTime = currentTimestamp.toString().split(" GMT")[0];
                            $('#timestamp').html('TIMESTAMP: '+formattedDateTime);
                            $('#timestamp').show();
                            $('#user').show();

                            timestamp = formattedDateTime;
                            var preprocess_image = response.preprocess_image;
                            async function runModel(modelPath) {
                                try {
                                    console.log('Running')
                                    const tensor = tf.tensor(preprocess_image);
                                    const reshapedTensor = tensor.reshape([1, 224, 224, 3]);
                                    // Load the model asynchronously
                                    const model = await tf.loadLayersModel(modelPath);
                            
                                    // Make predictions
                                    const predictions = model.predict(reshapedTensor);
                            
                                    // Convert predictions to a synchronous array
                                    const predictionsArray = await predictions.array();
                                    console.log(predictions);
                                    console.log(predictionsArray);

                                    const prediction_class = predictionsArray[0] > 0.5 ? 'Positive' : 'Negative';

                                    console.log('Prediction Class:', prediction_class);
                                    console.log('End');
                                    var circleColor = prediction_class == 'Negative' ? "red" : "#28c842";
                    
                                    var circleIcon = '<i class="fa-solid fa-circle" style="color: ' + circleColor + ';"></i>';
                            
                                    $("#prediction").html(circleIcon + ' ' + prediction_class);
                                    
                                    
                                    $("#prediction").show();
                            
                                   
                            
                                } catch (error) {
                                    console.error("Error running the model:", error);
                                }
                            }
                           
                            runModel('/static/tfjs_model/model.json');

                           
                            
                           
                        } catch (error) {
                            console.error("Error processing response:", error);
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error here
                        console.error(error);
                    }
                });
            } else {
                imageName.innerHTML = `<i class="fa-regular fa-file-image"></i><span style='margin-left: 10px;'>No file selected</span>`;
                console.log('error');
            }
        });
    
        const saveButton = document.getElementById('saveButton');
        const updateButton = document.getElementById('updateButton');
    
        if (saveButton) {
            saveButton.addEventListener('click', () => {
                const selectedFile = fileInput.files[0];
                let notes = document.getElementById('notesInput').value;
                if (notes.trim() === '') {
                    notes = 'Image Taken, No Notes'
                } 
                const prediction = document.getElementById('prediction').textContent;
                
                const formattedDateTime = formatDateTime(timestamp);
                console.log(formattedDateTime)
                const formData = new FormData();
    
                if (selectedFile) {
                    formData.append("dicom_file", selectedFile);
                    formData.append("filename", selectedFile.name);
                    formData.append("prediction", prediction);
                    formData.append("timestamp", formattedDateTime);
                }
    
                formData.append("notes", notes);
    
                for (const pair of formData.entries()) {
                    console.log(pair[0], pair[1]);
                }
                $.ajax({
                    url: "{% url 'save_image_record' record.record_id %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    beforeSend: function () {
                       
                        alert('Please wait. Your request is being processed...');
                    },
                    success: function (response) {
                        console.log(response);  // Log the entire response object for debugging
                        if (response.message.includes("File size exceeded")) {
                            $("#errorMessage").html(response.message);
                            $("#errorAlert").show();
                            setTimeout(function () {
                                $("#errorAlert").fadeOut("slow");
                            }, 5000);
                        }else{
                            window.location.href = "{% url 'medical_tech_home'%}";
                        }
                    },
                    error: function (xhr, status, error, response) {
                        // Handle error here
                        console.error(error);
                        alert('No file selected');
                    }
                });
            });
        }
    
        if (updateButton) {
            updateButton.addEventListener('click', () => {
                const selectedFile = fileInput.files[0];
                const notes = document.getElementById('notesInput').value;
                const prediction = document.getElementById('prediction').textContent;
                const formattedDateTime = formatDateTime(timestamp);
                const formData = new FormData();
    
                if (selectedFile) {
                    formData.append("dicom_file", selectedFile);
                    formData.append("filename", selectedFile.name);
                    formData.append("prediction", prediction);
                    formData.append("timestamp", formattedDateTime);
                }
    
                formData.append("notes", notes);
    
                $.ajax({
                    url: "{% url 'update_image_record' record.record_id %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    beforeSend: function () {
                
                        alert('Please wait. Your request is being processed...');
                    },
                    success: function (response) {
                        window.location.href="{% url 'medical_tech_home'%}";
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        
                        console.error(error);
                    }
                });
            });
        }
    });
    
    function updateNote() {
        const notesInput = document.getElementById('notesInput');
        const updatedNote = notesInput.value.trim();
    
        if (updatedNote === '') {
            notesInput.value = 'Currently No Available Notes.';
        }
    }
    
    function handleKeyDown(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevents the default Enter key behavior
            updateNote(); // Call the updateNote function to update the content
            document.activeElement.blur(); // Remove focus from the textarea
        }
    }

    

    const updateButton = document.getElementById('updateStatus-button');
    updateButton.addEventListener('click', function() {
        const dataHref = updateButton.getAttribute('data-href');
        if (dataHref) {
            window.location.href = dataHref;
        }
    });

    const backButton = document.getElementById('backButton');
    backButton.addEventListener('click',function(){
        const url = backButton.getAttribute('data-href');
       
        window.location.href = url;
        
    });

    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function resetContent() {
        var imageName = document.getElementById("imageName");
        var imageContainer = document.getElementById("imageContainer");
        var prediction = document.getElementById("prediction");
        var rerunButton = document.getElementById("rerun-button");
        var notesInput = document.getElementById("notesInput");
        var fileInput = document.getElementById("fileInput");
        var timestamp = document.getElementById("timestamp");
    
        // Reset the content to its original state
        imageName.innerHTML = '<i class="fa-regular fa-file-image"></i><span style=\'margin-left: 10px;\'>No file selected</span>';
        imageContainer.innerHTML = '';
        prediction.innerHTML = '';
        fileInput.value = '';  
        timestamp.innerHTML = '';

        $.ajax({
            url: "{% url 'delete_files' record.record_id %}",
            type: "GET",
            beforeSend: function () {
                
                alert('Please wait. Your request is being processed...');
            },
            success: function (response) {
                console.log(response);  
            },
            error: function (xhr, status, error, response) {
                // Handle error here
                console.error(response);
            }
        });
        
    }
    
</script>

{% endblock %} 