
<style>
    .inline {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .search-input-container {
        display: flex;
        align-items: center;
        flex-grow: 1; /* Allow the container to grow and push the button to the right */
    }

    #searchInput {
        width: 100px; /* Expand the input to fill available space */
        margin-left: 15px; /* Add some left padding */
        margin-right: 30px; /* Add some left padding */
    }

    #add:hover{
        background-color: #E5F3FD;
    }
    #add {
        position: relative;
        z-index: 1;
        background-color: #44AEE7;
        display: flex; 
        align-items: center;
        height: 50px !important;
        color: white;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        overflow: hidden;
    }

    #add::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #E5F3FD; /* Hover color */
        z-index: -1;
        transition: width 0.5s ease; /* Add the transition for the width property */
    }

    #add:hover::before {
        width: 100%;
    }


    .search-bar {
            
        align-items: center;
        position: relative;
    }

    .clear-button {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .search-bar:focus-within .clear-button {
        display: block; /* Show the clear button when the search bar is focused */
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    .search-bar .input-group-text {
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
    }
    .date-form{
        display: none;
    }
    .hidden {
        display: none !important;
    }

    .EMERGENCY {
        color: red;
    }
    .Queueing{
        color: blue;
    }

    .in-progress {
        color: #EE9322;
    }
    .Completed{
        color: #28c842;
    }
    .statusSelect {
        border: none;
    }
    
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="continer">
    <div class="inline">
        <div class="search-input-container">
            <div class="input-group search-bar">
                <input class="form-control rounded-pill py-2 pr-5 pl-4 bg-transparent" type="text" placeholder="Search" id="searchInput">
                <div class="input-group-prepend clear-button">
                    <button type="button" class="clear-button">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="input-group-prepend">
                    <div class="input-group-text border-0 bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <span id = 'buttonSpan'></span> 
        </div>
    </div>
    <table class="table table-hover">
        <thead id ='table'>
          <tr>
            {% comment %} <th scope="col" id="select_all">
                <input type="checkbox" id="selectAllCheckbox">
            </th>         {% endcomment %}
            <th scope="col">Record ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Age</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Modality</th>
            <th scope="col">Request Time</th>
            <th scope="col">Sender</th>
            <th scope="col">Indications</th>
            <th scope="col">Status</th>
            {% if 'medicalTech' in path %}
            <th scope="col"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody id ='table'>
            {% for record in records %}
                {% if 'medicalTech' in path %}
                    <tr data-href = "{% url 'get_data' record.record_id %}">
                {% else %}
                    <tr data-href = "{% url 'patient_detail' record.record_id %}">
                {% endif %}
                    {% comment %} <td><input type="checkbox" class="rowCheckbox" data-record-id="{{ record.record_id }}"></td> {% endcomment %}
                    <td>{{ record.record_id }}</td>
                    <td>{{ record.patient_name }}</td>
                    <td>{{ record.patient_id }}</td>
                    <td>{{ record.age }}</td>
                    <td>{{ record.date_of_birth }}</td>
                    <td>{{ record.modality }}</td>
                    <td class="request-time-cell" data-record-id="{{ record.record_id }}">
                        
                        <span class="editable-request-time" onclick="openForm(this)">
                            {% if record.request_time %}
                                {{ record.request_time|date:'M. d, Y, H:i' }}
                            {% else %}
                                <i class="fa-solid fa-calendar-days"></i>
                            {% endif %}
                        </span>
                        
                        <div class="date-form">
                            <form class="update-request-time-form" method='post' action="{% url 'update_request' %}">
                                {% csrf_token %}
                                <input type="hidden" name="record_id" value="{{ record.record_id }}">
                                <input type="datetime-local" name="new_request_time" class="form-control" value="{{ record.request_time|date:'Y-m-dTH:i' }}" required>
                                <button type="submit" class="btn btn-primary" style='margin-top:10px;'>Update</button>
                                <button type="button" class="btn btn-warning" style='margin-top:10px;'>Back</button>
                            </form>
                        </div>
                    </td>
                    <td>{{record.senderDoctor}}</td>
                    <td>{{record.indications}}</td>
                    <td class="status">
                        <select class="statusSelect {% if record.status == 'In Progress' %}in-progress {% else %}{{ record.status }}{% endif %}" data-record-id="{{ record.record_id }}">
                            <option value="Registered" {% if record.status == 'Registered' %}selected{% endif %}>Registered</option>
                            <option value="Queueing" {% if record.status == 'Queueing' %}selected{% endif %}>Queueing</option>
                            <option value="In Progress" {% if record.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                            <option value="Completed" {% if record.status == 'Completed' %}selected{% endif %}>Completed</option>
                            <option value="EMERGENCY" {% if record.status == 'EMERGENCY' %}selected{% endif %} disabled>EMERGENCY</option>
                        </select>
                    </td>
                    {% if 'medicalTech' in path %}
                        <td> 
                            {%if record.status == 'Registered' or record.status == 'Queueing'%}
                                <a href="{% url 'emergency' record.record_id %}">
                                    <button type="button" class="btn btn-secondary" id='emergency' >Emergency</button>
                                </a>
                            {%elif record.status == 'EMERGENCY'%}
                                <a href="{% url 'Registered' record.record_id %}">
                                    <button type="button" class="btn btn-warning" id='Registered' >Cancel Emergency</button>
                                </a>

                            {% else %}
                                <span></span>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                
            {% empty %}
                <tr>
                    <td colspan="9">No records available.</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
</div>
<script>
    const path = "{{ path }}";
    var addButton = document.querySelector('#buttonSpan');
    document.addEventListener("DOMContentLoaded", () => {
        
        if (window.location.pathname.includes("medicalTech")) {
            addButton.innerHTML = '<button type="button" id="add" class="btn btn-info"><i class="fa fa-plus" style="margin-right: 5px;"></i><i class="fa fa-user"></i></button>';
            addButton.addEventListener("click", function() {
                window.location.href = "{% url 'register' %}";
            });
            
        }else{
            addButton.innerHTML = '<button type="button" id="add" class="btn btn-info"><i class="fa fa-plus" style="margin-right: 5px;"></i><i class="fa-solid fa-notes-medical"></i></button>';
            addButton.addEventListener("click", function() {
                window.location.href = "{% url 'create_templates' %}";
            });
            
        }
    });
    document.getElementById("searchInput").addEventListener("keyup", function() {
        var query = this.value.toLowerCase();
        var rows = document.querySelectorAll("#table tr");
        
        rows.forEach(function(row) {
            var text = row.textContent.toLowerCase();
            if (text.includes(query)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });

    document.querySelector(".clear-button").addEventListener("click", function() {
        document.getElementById("searchInput").value = "";
        var rows = document.querySelectorAll("#table tr");
        rows.forEach(function(row) {
            row.style.display = "";
        });
        this.classList.remove('visible');
    });

    document.addEventListener("DOMContentLoaded", () => {
        
        const rows = document.querySelectorAll("tr[data-href]");
        if (path.includes("medicalTech")) {
            rows.forEach(row => {
                row.addEventListener("click", event => {
                    if (!event.target.classList.contains("btn") && !event.target.closest(".request-time-cell") && !event.target.classList.contains("rowCheckbox")&& !event.target.closest(".status")) {
                        window.location.href = row.dataset.href;
                    }
                });
            });
        }
        else {
            rows.forEach(row => {
                row.addEventListener("click", event => {
                    
                    window.location.href = row.dataset.href;
                    
                });
            });
        }
    });
    $(document).ready(function() {
        
        
        if (path.includes("medicalTech")) {
            $('.update-request-time-form').on('submit', function(event) {
                event.preventDefault();  // Prevent default form submission
                
                var form = $(this);
                var url = form.attr('action');
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: form.serialize(),
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            // Display an error message to the user
                            alert('Failed to update request time.');
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        // Handle AJAX error
                        alert('An error occurred while updating the request time.');
                    }
                });
            });
            $('.update-request-time-form button.btn-warning').on('click', function(event) {
                event.preventDefault();
                $(this).closest('.date-form').hide();
            });
            
        }
    });

    if (path.includes("medicalTech")) {
        function openForm(clickedElement) {
            const requestTimeCell = clickedElement.closest(".request-time-cell");
            const dateForm = requestTimeCell.querySelector(".date-form");
            dateForm.style.display = "block";
        }
    }
    

    $(document).ready(function () {
        $(".statusSelect").change(function () {
            var selectedStatus = $(this).val();
            var recordId = $(this).data("record-id");
            var $statusSelect = $(this);

            // Remove any existing status class
            $statusSelect.removeClass("Registered EMERGENCY in-progress Queueing");
            
            // Add the appropriate class based on the selected status
            
            if (selectedStatus === "Registered") {
                $(this).addClass("Registered");
            } else if (selectedStatus === "In Progress") {
                $(this).addClass("in-progress");
            } else if (selectedStatus === "Completed") {
                $(this).addClass("Completed");
            } else if (selectedStatus === "Queueing"){
                $(this).addClass("Queueing");
            }
            // Send the selected status to the Django view using AJAX
            $.ajax({
                url: "{% url 'updateRecordStatus' %}",
                method: "POST",
                data: {
                    record_id: recordId,
                    new_status: selectedStatus
                },
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")  
                },
                success: function (response) {
                    if (response.success) {
                        // Update the displayed status
                        alert("Status updated successfully");
                        location.reload();
                    } else {
                        alert("Failed to update status");
                    }
                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.error(error);
                }
            });
        });
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>