{% extends 'menu.html' %} {% block content %}
<title>Account</title>
<style>
  .container-fluid-table {
      margin-left: 50px;
      margin-right: 80px;

  }
  .inline {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
  }
  .search-input-container {
      display: flex;
      align-items: center;
      flex-grow: 1; /* Allow the container to grow and push the button to the right */
  }

  #searchInput {
      width: 100px; /* Expand the input to fill available space */
      margin-left: 15px; /* Add some left padding */
      margin-right: 30px; /* Add some left padding */
  }

  {% comment %} #searchInput:focus {
      outline: none; /* Remove the focus outline */
  } {% endcomment %}

  #createButton{
      background-color: #44AEE7;
      display: flex;
      align-items: center;
      height: 50px !important;
  }

  #createButton:hover{
      background-color: #E5F3FD;
      color: #333333 !important;
  }
  #createButton {
      position: relative;
      z-index: 1;
      background-color: #44AEE7;
      color: white;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      overflow: hidden;
  }

  #createButton::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #E5F3FD; /* Hover color */
      z-index: -1;
      transition: width 0.5s ease; /* Add the transition for the width property */
  }

  #createButton:hover::before {
      width: 100%;
  }



  .search-bar {

      align-items: center;
      position: relative;
  }

  .clear-button {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
  }
  .search-bar:focus-within .clear-button {
      display: block; /* Show the clear button when the search bar is focused */
      position: absolute;
      right: 30px; /* Adjust this value to control the icon's position */
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
  }
  .search-bar .input-group-text {
      position: absolute;
      right: 30px; /* Adjust this value to control the icon's position */
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
  }

  #backButton{
      margin-top: 10px;
      width: 100%;
      background-color: #44AEE7;
      color: #000;
  }

  #backButton:hover{
      color: #000;
      background-color: #E5F3FD;
  }
  .bg-light th {
      background-color: #276fbf;
      color:#fff;
      font-weight: 500;
  }
  #accountTableBody {
      background-color: #F8F8F8;
      font-size: 14px;
  }
  .table tbody tr {
      height: 60px;
  }
</style>

<div class="container-fluid-table">
  <div class="inline">
    <h1>Accounts</h1>
    <div class="search-input-container">
      <div class="input-group search-bar">
        <input
          class="form-control rounded-pill py-2 pr-5 pl-4 bg-transparent"
          type="text"
          placeholder="Search"
          id="searchInput"
        />
        <div class="input-group-prepend clear-button">
          <button type="button" class="clear-button">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="input-group-prepend">
          <div class="input-group-text border-0 bg-transparent">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
      <button type="button" id="createButton" class="btn btn-info">
        <i class="fa-solid fa-plus fa-beat" style="margin-right: 5px"></i
        ><i class="fa-solid fa-user"></i>
      </button>
    </div>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Username</th>
        <th>Password</th>
        <th>Staff Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="accountTableBody">
      {% if accounts %} {% for account in accounts %}
      <tr>
        <td>{{ account.id }}</td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1" style="color: black">
                {{ account.first_name }} {{ account.last_name }}
              </p>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle">
          {% if account.is_active %}
          <span
            class="badge badge-pill badge-dark"
            style="background-color: blue !important; font-size: 12px"
            >Active</span
          >
          {% else %}
          <span
            class="badge badge-pill badge-danger"
            style="background-color: red !important; font-size: 12px"
            >Suspended</span
          >
          {% endif %}
        </td>
        <td>{{ account.username }}</td>
        <td>
          <div
            class="password-cell"
            style="
              width: 300px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            "
          >
            {{ account.password }}
          </div>
        </td>
        <td style="vertical-align: middle">
          {% if account.is_staff %}
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckCheckedDisabled"
              checked
              disabled
            />
          </div>
          {% else %}
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDisabled"
              disabled
            />
          </div>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'updateAccount' account.id %}">
            <button
              type="button"
              class="btn btn-sm btn-rounded"
              style="background-color: #37b54a !important; color: #000"
            >
              Update
            </button>
          </a>
          {% if account.is_active %}
          <a href="{% url 'suspendAccount' account.id %}">
            <button
              type="button"
              class="btn btn-sm btn-rounded"
              style="background-color: #dc3545 !important; color: #000"
            >
              Suspend
            </button>
          </a>
          {% else %}
          <a href="{% url 'unsuspendAccount' account.id %}">
            <button
              type="button"
              class="btn btn-sm btn-rounded btn-warning"
              style="color: #000"
            >
              Unsuspend
            </button>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %} {% else %}
      <!-- Display a message when the accounts list is empty -->
      <tr>
        <td colspan="7">No accounts found.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if 'profile_account/' in request.path %}
  <button class="btn btn-secondary" onclick="goBack()" id="backButton">
    Back
  </button>
  {% endif %}
</div>
<script>
  document
    .getElementById("createButton")
    .addEventListener("click", function () {
      window.location.href = "{% url 'createAccount' %}";
    });
  function goBack() {
    // Get the stored previous URL from session storage
    var previousUrl = sessionStorage.getItem("previousUrl");

    if (previousUrl) {
      // Navigate to the stored previous URL
      window.location.href = previousUrl;
    } else {
      // If previous URL is not available, use history.back()
      window.history.back();
    }
  }

  // Store the current URL in session storage when the page loads
  document.addEventListener("DOMContentLoaded", function () {
    sessionStorage.setItem("previousUrl", window.location.href);
  });
  document.getElementById("searchInput").addEventListener("keyup", function () {
    var query = this.value.toLowerCase();
    var rows = document.querySelectorAll("#accountTableBody tr");

    rows.forEach(function (row) {
      var text = row.textContent.toLowerCase();
      if (text.includes(query)) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    });
  });

  document
    .querySelector(".clear-button")
    .addEventListener("click", function () {
      document.getElementById("searchInput").value = "";
      var rows = document.querySelectorAll("#profileTableBody tr");
      rows.forEach(function (row) {
        row.style.display = "";
      });
      this.classList.remove("visible");
    });
</script>

{% endblock %}
