{% extends 'menu.html' %}

{% block content %}
<title>Profile . {{title}}</title>
<style>
    .container-fluid-table {
        margin-left: 50px;
        margin-right: 80px;
        
    }
    .inline {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .search-input-container {
        display: flex;
        align-items: center;
        flex-grow: 1; /* Allow the container to grow and push the button to the right */
    }
    
    #searchInput {
        width: 100px; /* Expand the input to fill available space */
        margin-left: 15px; /* Add some left padding */
        margin-right: 30px; /* Add some left padding */
    }
    
    {% comment %} #searchInput:focus {
        outline: none; /* Remove the focus outline */
    } {% endcomment %}

    

    #createButton:hover{
        background-color: #E5F3FD;
    }
    #createButton {
        position: relative;
        z-index: 1;
        background-color: #44AEE7;
        display: flex; 
        align-items: center;
        height: 50px !important;
        color: white;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        overflow: hidden;
    }
    
    #createButton::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #E5F3FD; /* Hover color */
        z-index: -1;
        transition: width 0.5s ease; /* Add the transition for the width property */
    }
    
    #createButton:hover::before {
        width: 100%;
    }
    
    
    {% comment %} .search-bar .form-control {
        padding-right: 30px; /* Adjust this value to control the spacing between input and icon */
    } {% endcomment %}
    .search-bar {
        
        align-items: center;
        position: relative;
    }
    
    .clear-button {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    .search-bar:focus-within .clear-button {
        display: block; /* Show the clear button when the search bar is focused */
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    .search-bar .input-group-text {
        position: absolute;
        right: 30px; /* Adjust this value to control the icon's position */
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
    }
    .bg-light th {
        background-color: #276fbf;
        color:#fff;
        font-weight: 500;
        font-size:18px;
    }
    #profileTableBody {
        background-color: #F8F8F8;
    }
    
   
    
</style>


<div class="container-fluid-table">
    <div class="inline">
        <h1>Profiles</h1>
        <div class="search-input-container">
            <div class="input-group search-bar">
                <input class="form-control rounded-pill py-2 pr-5 pl-4 bg-transparent" type="text" placeholder="Search" id="searchInput">
                <div class="input-group-prepend clear-button">
                    <button type="button" class="clear-button">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="input-group-prepend">
                    <div class="input-group-text border-0 bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <button type="button" id="createButton" class="btn btn-info">
                <i class="fa-solid fa-plus fa-beat" style="margin-right: 5px;"></i><i class="fa-solid fa-user"></i>
            </button>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>ID</th>
            <th>Name/Email</th>
            <th>Status</th>
            <th>Date of Birth</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Account ID</th>
            <th>Account Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="profileTableBody">
            {% if profiles %}
                {% for profile in profiles %}
                <tr>
                    <td>{{ profile.id }}</td>
                    <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                        <p class="fw-bold mb-1" style='color:black;'>{{ profile.first_name }} {{ profile.last_name }}</p>
                        <p class="text-muted mb-0">{{ profile.email }}</p>
                        </div>
                    </div>
                    </td>
                    <td style="vertical-align: middle; ">
                        {% if profile.status == 'active' %}
                            <span class="badge badge-pill badge-dark" style="background-color: blue !important; font-size: 12px;">Active</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger" style="background-color: red !important; font-size: 12px;">Suspended</span>
                        {% endif %}
                    </td>                
                    <td>{{ profile.dob }}</td>  
                    <td>{{ profile.phone }}</td>
                    <td>{{ profile.role }}</td>
                    <td><a href='{% url 'account' profile.account_id %}' style = 'color:#276FBF;'>{{ profile.account_id }}</a></td>
                    <td style="vertical-align: middle; ">
                        {% if profile.accountStatus == True %}
                            <span class="badge badge-pill badge-dark" style="background-color: blue !important; font-size: 12px;">Active</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger" style="background-color: red !important; font-size: 12px;">Suspended</span>
                        {% endif %}
                    </td> 
                    <td>
                        <a href="{% url 'updateProfile' profile.id %}">
                            <button type="button" class="btn btn-sm btn-rounded" style="background-color: #37B54A !important; color: #000;">
                                Update
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
        <!-- Display a message when the accounts list is empty -->
                <tr>
                    <td colspan="7" style='text-align: left;'>No Profiles found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<script>
    document.getElementById("createButton").addEventListener("click", function() {
        window.location.href = "{% url 'createAccount' %}";
    });
    document.getElementById("searchInput").addEventListener("keyup", function() {
        var query = this.value.toLowerCase();
        var rows = document.querySelectorAll("#profileTableBody tr");
        
        rows.forEach(function(row) {
            var text = row.textContent.toLowerCase();
            if (text.includes(query)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
    
    document.querySelector(".clear-button").addEventListener("click", function() {
        document.getElementById("searchInput").value = "";
        var rows = document.querySelectorAll("#profileTableBody tr");
        rows.forEach(function(row) {
            row.style.display = "";
        });
        this.classList.remove('visible');
    });
        
</script>

{% endblock %}
